body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

a:hover{
    color: #2d7ae2;
}

#wrapper{
    width: 460px;
    height: 460px;
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%);
}

#obenlinks{
    width:150px;
    height:150px;
    background-color: #2d7ae2;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
}

#obenmitte{
    width:150px;
    height:150px;
    background-color: #2d7ae2;
    margin-left: 155px;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
}

#obenrechts{
    width:150px;
    height:150px;
    background-color: #2d7ae2;
    margin-left: 310px;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
}

#mittelinks{
    width:150px;
    height:150px;
    background-color: #f62c95;
    margin-top: 155px;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
}

#mittemitte{
    width:150px;
    height:150px;
    background-color: #f62c95;
    margin-top: 155px;
    margin-left: 155px;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
}

#mitterechts{
    width:150px;
    height:150px;
    background-color: #f62c95;
    margin-top: 155px;
    margin-left: 310px;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
}

#untenlinks{
    width:150px;
    height:150px;
    background-color: #f62c95;
    margin-top: 310px;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
}

#untenmitte{
    width:150px;
    height:150px;
    background-color: #e08722;
    margin-top: 310px;
    margin-left: 155px;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
}

#untenrechts{
    width:150px;
    height:150px;
    background-color: #e08722;
    margin-top: 310px;
    margin-left: 310px;
    position: absolute;
    border-radius: 10px 10px 10px 10px;
}

#playbutton{
    width: 460px;
    position: absolute;
    margin-top: 470px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
